html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative
}
/* ここから */
header {
  background-color: #2B2B2B;
  width: 100%;
  height: 50px;
  font-size: 1.0rem
}
header ul {
  margin: 0;
}
header ul a {
  color: #fff;
  text-decoration: none;
}
header li {
  list-style: none;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
}
header ul:after {
}
.right_menu {
  float: right;
}
.right{
  float: left;
}
.left{
  float: left;
}
/* ここまでがheader部分の実装 */
.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
height: 100px;
width: 13%;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}
.about {
/* About Achieve部分の実装 */
font-size: 1.5rem;
}
.about p {
  font-size: 0.8rem;
}

/* ここから */
.function {
  background-color: #D3D3D3;
  width: 1500px;
  height: 500px;
  position:relative;
  overflow: hidden;

}
.function-images {
  width: 800px;
  height: 250px;
  margin: 0 auto;
}
.function-image {
  float: left;
  padding: 30px;
}
.function h1{
  padding: 50px;
}
/* ここまでがfunction部分の実装 */
footer {
/* footer部分の実装 */
color: white;
background-color: #283A4B;
font-size: 0.8rem;
height: 370x;
width: 100%;
position: absolute;
bottom: 0;
display: table;
}
footer {
display: table-cell;
text-align: center;
vertical-align: center;
padding: 10px;
}
/* ここに書かれているcssの記述はあくまでヒントとして用意された雛形なので、書かれている記述に従わずに実装したいという場合は、自分の好きに実装して構わない。課題要件を満たし、コードの品質が一定の水準にあると判定されればどのような実装でも合格になる。 */

その後、HTMLファイルを開き、正常に表示されるかを確認してください（この時点では画像はまだ表示されません）
　


確認ができましたら、これらを活用して以下の見本のようなシングルページを作成しましょう。以下の条件が満たされていれば、細かい部分が見本と違っていても合格とします。


- 見本のようなヘッダーとフッターがあること
- 適宜CSSをつけて、見本のような画面を実装すること
- HTMLはbodyの中にsectionのある構成であること（見本そのままで構わない）
- backgroundにジグゾーパズルの画像をはめ込み（見本そのままで構わない）、その中央に「Achieve」という白い文字の画像を、ほぼ中央に、大きすぎないサイズで配置すること（詳細な位置指定はない）
- headerは左に「Achieve」「お問い合わせ」という文字のリンクを、右に「サインアップ」「ログイン」という文字のリンクを作成すること（サイズや位置などは、あからさまにheaderからはみ出ていたりしない限り、詳細は問わない）
- Functionの中にある4つの画像は横並びで表示すること
- 見本と同じ画像を使用すること（画像のダウンロードについては下記参照）
- normalize.cssのファイルを作成すること
- ディレクトリ構成を下記に記述してあるような形にすること
　


見本画像
Image from Gyazo
　
画像は以下のURLからダウンロードします（アクセスしてDownload-ZIPをクリック）。


https://github.com/Timeshift-corp/images


https://diveintocode.gyazo.com/59be3d5831442d81ad4d9da001c475be


画像をダウンロードすることができたらimageをローカルに保存して、表示できるようにしましょう。
　


normalize.cssのファイルは以下のURLのコードをコピーして作成しましょう。


https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css
　


本課題では、以下のようなディレクトリ構成にしてください。
cssファイルを複数使いたいという場合は増やしても構いません。


https://diveintocode.gyazo.com/e6d5cfb547dd4843b6d28dce58c5e7a1


提出方法


以下のURLから提出すること。
作成したコードがpushされたGitHubリポジトリのURLを提出すること。

https://diver.diveintocode.jp/submissions/new


目次
HTMLシリーズ課題2（見本サイトと同じになるようなCSSを作成する）

◀︎前へ
1.課題
